@{
    ViewBag.Title = "Home";
}

<h1>Where are your colleagues?</h1>

<div class="registerlinks">
  <div class="status">
    @Html.ActionLink("Status", "Status", "Users")
  </div>

  <div class="register">
    @Html.ActionLink("Register", "Register", "Users")
  </div>
</div>