@model WhereIsMyColleague.Web.Models.User

@if (Model != null)
{
    <h2 class="h2-font">Success!</h2>
    <p class="p-font">You have just been registered as working from @Html.DisplayFor(model => model.Location).</p>
}
else
{
    <h2 class="h2-font">Oops.</h2>
    <p class="p-font">Something has gone wrong, please try again.</p>
}