@model WhereIsMyColleague.Web.Models.User

@if (Model != null)
{
    <h2>Hooray!</h2>
    <p>@Model.Name has just been registered as working from @Model.Location.</p>
}
else
{
    <h2>Oh noes!</h2>
    <p>Something has gone wrong, please try again.</p>
}